@import 'tailwindcss';

@theme {
    --font-display: 'Oswald', 'sans-serif';
}

input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.scroll-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
    background: #f3f4f6; /* gray-100 */
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: #f97316; /* Tailwind orange-500 */
    border-radius: 6px;
}

.custom-table {
    @apply w-full border-[1px] border-gray-200;

    & thead th {
        @apply px-8 py-2 text-left;
    }

    & tbody td {
        @apply px-8 py-2;
    }

    & tbody tr {
        @apply h-12;
    }

    & tbody tr + tr {
        @apply border-t border-gray-200;
    }

    & thead {
        @apply bg-gray-100;
    }
}
